/* Reset and box-sizing */
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #00000000;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("https://images.unsplash.com/photo-1497375638960-ca368c7231e4?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTV8fGNoYXJpdHl8ZW58MHx8MHx8fDA%3D");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

.box {
  width: 350px;
  height: 400px;
  border: 2px solid #d4d4d4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  backdrop-filter: blur(5px);
  background: transparent;
  padding: 20px;
}

h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}

.inputbox {
  position: relative;
  margin: 30px 0;
  width: 300px;
  max-width: 310px;
  border-bottom: 2px solid #ffffff;
}

.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  color: #fff;
  transform: translateY(-50%);
  font-size: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.inputbox input:focus ~ label,
.inputbox input:valid ~ label {
  top: -10px;  
  font-size: 0.75rem;
  color: #e6e2e2;
}

.inputbox input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 0 35px 0 5px;
  color: #fff;
  transition: 0.3s ease;
}

.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2rem;
  bottom: 7px;
}

button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background-color: #e6e2e2;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.3em;
  font-weight: 700;
  margin-top: 20px;
  transition: all 0.4s ease;
}

button:hover {
  background-color: #d4d4d4;
}

.forget-ps {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 15px;
  font-size: 0.9em;
  color: #fff;
}

.forget-ps label:nth-child(2) {
  order: 1;
}

.forget-ps label {
  display: flex;
  align-items: center;
}

.forget-ps label input[type="checkbox"] {
  margin-right: 6px;
}

.forget-ps label a {
  color: #0244e9;
  text-decoration: underline;
}

.forget-ps label a:hover {
  text-decoration: none;
}

.register {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  margin: 20px 0 15px;
}

.register p a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 700;
}
.register p a:hover {
  text-decoration: underline;
}